*{
  margin: 0;
  padding:0;
  font-family: 'Nunito', sans-serif;
}
.loading {
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 90vh;
}
.App{
  background-color: rgb(243, 243, 243)
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: thin solid rgb(212, 212, 212);
  height: 10vh;
  justify-content: space-around;
  background-color: white;
}
.title {
  display: flex;
}
.title > h1{
  margin: 0;
  padding:0;
  margin-left: 10px;
  font-family: 'Engagement', cursive;
  font-size: 5vh;
}
.black-line {
  height: 5vh;
  width: 1px;
  margin-left: 5px;
  background-color: black;
}
.logo {
  height: 5vh;
}
.nav {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.button {
  height: 28px;
  width: 28px;
}
li {
  color: black;
}
.cards {
  margin-bottom: 20px;
  height: 25vh;
}

.col.s12.m6 {
  margin-left: 25vw;
}
.about {
  width: 50vw;
  margin-top: 10vh;
  margin-left: 23vw;
  margin-bottom: 60vh;
  padding: 2vh;
  background-color: white;
  border: thin solid rgb(212, 212, 212);
}
form{
  width: 50vw;
  margin-left: 25vw;
  margin-bottom: 65vh;
}
footer {
  border-top: thin solid rgb(212, 212, 212);
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .col.s12.m6 {
    margin: 0;
  }
  header{
    height: 20vw;
  }
  .title > h1{
    font-size: 8vw;
  }
  .black-line {
    height: 8vw;
  }
  .logo {
    height: 8vw;
  }
  .nav {
    width: 120px;
  }
  .button {
    height: 25px;
    width: 25px;
  }
  .about {
    width: 70vw;
    margin-left: 13vw;
  }
  form {
    width: 75vw;
    margin-left: 12.5vw;
  }
}